body{
    font-family: 'Poppins', sans-serif;
   
}

h1{
    font-size: 400%;
    
}

.mission-color{
    color: tomato;
}

.bordar-1{
    border-left: 5px olivedrab solid;
    border-radius: 3px;
    height: 40%;
    
}

section{
    display: flex;
}

.half-width{
    width: 50%;
    padding: 5%;
}

.half-width img{
    width: 80%;
    
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(green, orange);
    padding: 10px 40px;
    color: white;
    border-radius: 5px;
}

.mission-center{
    max-width: 600px;
    margin: auto;
    
}

.text-color{
    color: mediumseagreen;
}

#box-no1{
    background-color: lightgrey;
    width: 400px;
    padding: 40px;
    margin: 20px;
    border-radius: 8%;
    margin-left: 10%;
    
}

#box-no2{
    background-color: linen;
    width: 400px;
    padding: 40px;
    margin: 20px;
    border-radius: 8%;
}

#box-no3{
    background-color: lightyellow;
    width: 400px;
    padding: 40px;
    margin: 20px;
    border-radius: 8%;
    margin-right: 10%;
    
    
}

.img-box{
    width: 180px;
}





.half-width2{
    width: 55%;
    padding: 10%;
   
 
    
}

.half-width2 img{
    width: 110%;
    margin-left: 12%;
    margin-top: 5%;
   
}
  

.half-width3{
    width: 80%;
    padding: 10%;
    padding-bottom: 20px;
   
 
    
}

.half-width3 img{
    width: 100px;
    margin-left: 1%;
    margin-top: 5%;
   
}

.half-width4{
    width: 90%;
    margin-left: 15%;
    margin-top: 15%;
}


#footer{
    background-color: rgb(12, 3, 3);
    width: 1600px;
    padding: 40px;
    
}

.mission-center2{
    max-width: 600px;
    margin: auto;
    color: white;
    font-family: 'Pinyon Script', cursive;
}
  
.footer-text{
    color: lightsteelblue;
}







